
@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.search_query_row{
  align-items: center;
  justify-content: flex-start;
  display:flex;
  margin:5px;
  text-align: start;
}

.year_component{
  width: 100%;
  padding-right: 10px;
}

.ant-select{
  width: 100%;
}

.search_row{
  margin: 10px;
}

.search_type_box {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 32px;
}

.search_button_box{
  align-items: center;
  justify-content: flex-end;
  display: flex;
  height: 32px;
}

.focus_song{
  background: #ECECEC;
  padding: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}